---
import '../styles/global.css';
---

<div class="w-full h-full">
    <div class="flex items-center justify-center h-20">
        <h2 class="text-5xl">Sobre Mi</h2>
    </div>
    <div class="flex items-center justify-center">
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo eius magni saepe odit, sunt est ea dolorum nisi porro, ullam voluptates sequi optio, necessitatibus laborum neque. Ea vero dolorum doloribus!
        </span>
    </div>
</div>