---
import '../styles/global.css';
import logo from '../assets/logo_IM-removebg-preview.png';
import Scroll from './Scroll.astro';
---
<div class="w-full h-screen">
	<div class="bg-black w-full z-20 h-1/10 flex items-center justify-center">
		<img src={logo.src} class="h-32" alt="Logo Inés Molina">
	</div>
	<div class="flex items-center justify-center imagen">
		<h1 class="text-5xl text-center mt-20 z-10 text-white">Inés Molina Castro</h1>
		<Scroll />
	</div>
</div>

<style>
	@media only screen and (max-width: 600px) {
		.imagen {
			background-position: 50% 35%;
		}
	}

	.imagen {
		background-position: 30% 35%;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: url("../assets/gallery/IMG_9556.JPG");
		height: 90vh;
	}
</style>
