---
import '../styles/global.css';
import logo from '../assets/logo_IM-removebg-preview.png';
import fondo from '../assets/fondo.png';
---
<div class="w-full h-screen">
	<div class="bg-black w-full z-10 h-1/10 flex items-center justify-center">
		<img src={logo.src} class="h-32" alt="Logo Inés Molina">
	</div>
	<div class="h-9/10 flex items-center justify-center bg-[url('../assets/fondo.png')] bg-cover bg-center relative">
		<h1 class="text-5xl text-center mt-20 text-white">Inés Molina Castro</h1>
	</div>
</div>

<style>
</style>
