<div class="bottom-10 absolute">
    <div class="rounded-2xl border-2 w-6 h-10 relative overflow-hidden border-white">
        <div class="roll absolute top-2  left-1/2 -ml-0.5 h-1.5 rounded bg-white"></div>
        <div class="rollshadow"></div> 
    </div>
</div>