---
import '../styles/global.css';
---

<div class="w-full h-screen">
    <div class="flex items-center justify-center h-20">
        <h2 class="text-5xl">Videobook</h2>
    </div>
    <div class="h-full w-full">
        <video controls class="mx-auto h-full w-full p-4">
            <source src="path/to/your/video.mp4" type="video/mp4">
        </video>
    </div>
</div>