---
import '../styles/global.css';

import videobook from '../assets/videobook.mp4';
---

<div class="w-full md:h-screen">
    <div class="flex items-center justify-center h-20">
        <h2 class="text-5xl">Videobook</h2>
    </div>
    <div class="h-12/13 w-full p-4">
        <video controls class="mx-auto md:h-full h-56 w-full">
            <source src={videobook} type="video/mp4">
        </video>
    </div>
</div>